<div class="modal-header p-1">
	<div class="d-flex flex-row justify-content-between w-100 px-1">
		<div class="d-flex flex-row">
			<span [textContent]="$select_castSectionItem()?.label"></span>
			<span>並べ替え</span>
		</div>
		<div>
			<i class="fa fa-times text-danger fa-hover cursor-pointer"
			   (click)="action_close();"></i>
		</div>
	</div>
</div>
<div class="modal-body p-0">
	@let castSectionList = $castSectionList() || [];
	<div class="d-flex flex-wrap"
	     [nxtSortablejs]="castSectionList"
	     [config]="castSectionListSortableOptions"
	     style="min-height: 0;">
		@for (castSection of castSectionList; track castSection.castUid) {
			<div class="col-3 handle"
			     style="cursor:move;">
				<img [src]="castSection.castImageSrc"
				     style="width:100%;"/>
			</div>
		}
	</div>
</div>