@if ($isReady()) {
	<div class="d-flex flex-row h-100">
		<div class="card w-100 h-100 user-select-none p-0 m-0 rounded-0">
			<div class="card-header rounded-0 p-0">
				<div class="p-1">
					<strong>キャスト一覧</strong>
				</div>
			</div>
			<div class="card-body p-1 m-0 overflow-y-scroll">
				<div class="d-flex flex-column gap-1">
					<div class="card ">
						<div class="card-header p-0 px-1">
							<span>検索</span>
						</div>
						<div class="card-body p-1">
							<div class="d-flex flex-row flex-wrap gap-1">
								<div class="input-group input-group-sm w-auto">
									<div class="input-group-text">
										キャスト名
									</div>
									<input class="form-control form-control-sm"
									       type="text"
									       [ngModel]="$q_castName()"
									       (ngModelChange)="$q_castName.set($event);action_load_castList();">
								</div>
								<div class="input-group input-group-sm w-auto">
									<div class="input-group-text">公開状態</div>
									<select class="form-select form-select-sm"
									        [ngModel]="$q_viewFlag()"
									        (ngModelChange)="$q_viewFlag.set($event);action_load_castList();">
										<option [ngValue]="undefined">全て</option>
										<option [ngValue]="true">表示中</option>
										<option [ngValue]="false">非表示</option>
									</select>
								</div>
								<div class="input-group input-group-sm w-auto">
									<div class="input-group-text">表示件数</div>
									<select class="form-select form-select-sm"
									        [ngModel]="$q_limit()"
									        (ngModelChange)="$q_limit.set($event);action_load_castList();">
										@for (limit of [1, 5, 10, 30, 50, 100, 500, 100]; track limit) {
											<option [ngValue]="limit"
											        [textContent]="limit |number"></option>
										}
									</select>
								</div>
								<div class="input-group input-group-sm w-auto">
									<div class="input-group-text">ページ</div>
									<input class="form-control form-control-sm"
									       type="number"
									       [min]="1"
									       [ngModel]="$q_page()"
									       (ngModelChange)="$q_page.set($event);action_load_castList();"
									       (wheel)="util.noop();"
									       style="width:4rem;"/>
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header p-0 px-1">設定</div>
						<div class="card-body p-1">
							<div class="d-flex flex-row flex-wrap gap-1">
								<div class="input-group input-group-sm w-auto">
									<div class="input-group-text">セクション(幅)</div>
									<select class="form-select form-select-sm"
									        [ngModel]="$viewSettings_castSectionClass()"
									        (ngModelChange)="$viewSettings_castSectionClass.set($event);"
									        style="width:6rem;">
										@for (i of 6 | repeat: 1; track i) {
											<option ngValue="col-{{i}}">{{ Math.floor(i / 12 * 100) }}%</option>
										}
									</select>
								</div>
								<div class="input-group input-groupu-sm w-auto">
									<div class="input-group-text">カラム数</div>
									<input class="form-control form-control-sm"
									       type="number"
									       [ngModel]="$viewSettings_gridTemplateColumnsNumber()"
									       (ngModelChange)="$viewSettings_gridTemplateColumnsNumber.set($event);"
									       [min]="1"
									       (wheel)="util.noop();"/>
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header p-0 px-1">
							<span>操作</span>
						</div>
						<div class="card-body p-1">
							@let select_castSectionItem = $select_castSectionItem();
							@let select_castSectionItemUid = select_castSectionItem?.uid;
							<div class="input-group input-group-sm">
								<span class="input-group-text bg-secondary-subtle">セクション</span>
								@for (item of $castSectionItemList(); track item.uid) {
									<button class="btn btn-sm border"
									        [class.btn-light]="item.uid!==select_castSectionItemUid"
									        [class.btn-success]="item.uid===select_castSectionItemUid"
									        (click)="action_select_castSelectionItem(item);"
									        [textContent]="item.label"></button>
								}
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header p-0 px-1">
							<div class="d-flex flex-row justify-content-between px-1">
								<div>
									<span>一覧</span>
									@let castListCount = this.$castListCount();
									@if (util.isNumber(castListCount)) {
										<span class="mx-1 label-count"
										      [textContent]="castListCount|number"></span>
									}
								</div>
								<div>
									<i class="fa fa-refresh fa-hover cursor-pointer"
									   [class.fa-spin]="$load_castList_isWait()"
									   (click)="action_load_castList();"></i>
								</div>
							</div>
						</div>
						@if ($castList(); as castList; ) {
							<div class="card-body p-0">
								<div class="d-grid gap-1 p-1"
								     [nxtSortablejs]="castList"
								     [config]="castListSortableOptions"
								     [style.grid-template-columns]="$viewSettings_gridTemplateColumns()">
									@for (cast of castList; track cast.uid; ) {
										<div>
											<div class="card m-0 h-100">
												<div class="card-header p-1 d-flex flex-row justify-content-between g-1">
													<i class="fa fa-arrows handle fa-hover cursor-move handle"></i>
													<i class="fa fa-times text-danger fa-hover cursor-pointer"
													   (click)="action_remove_cast(cast);"></i>
												</div>
												<div class="card-body p-0 h-100">
													<div class="d-flex flex-column justify-content-between h-100">
														<div class="p-0 cursor-pointer h-100"
														     routerLink="/castEdit"
														     [queryParams]="{domain:navigation.$domain(),uid:cast.uid}">
															@if (cast.imageSrc; as src) {
																<img class="w-100 "
																     [src]="src"
																     loading="lazy"/>
															}
														</div>
														<div class="px-1 py-1"
														     style="white-space:nowrap;text-overflow: ellipsis;overflow:hidden;">
															<a routerLink="/castEdit"
															   [queryParams]="{domain:navigation.$domain(),uid:cast.uid}"
															   [textContent]="cast.name||'未入力'"></a>
														</div>
													</div>
												</div>
												<div class="card-footer p-1 text-center bg-white">
													<div class="d-flex flex-column gap-1">
														<div>
															<button class="btn btn-sm "
															        [class.btn-success]="cast.viewFlag"
															        [class.border]="!cast.viewFlag"
															        [class.disabled]="cast._?.isWait"
															        [disabled]="cast._?.isWait"
															        (click)="action_cast_viewFlag(cast);"
															        [textContent]="cast.viewFlag ? '公開中' : '非公開'">
															</button>
														</div>
														@if (select_castSectionItem; as item; ) {
															<div class="text-center">
																<button class="btn border btn-sm"
																        (click)="add_castSection(cast);">
																	{{ item.label }}を追加
																</button>
															</div>
														}
													</div>
												</div>
											</div>
										</div>
									}
								</div>
							</div>
						}
					</div>
				</div>
			</div>
		</div>
		@if ($select_castSectionItem(); as select_castSectionItem; ) {
			<div class="h-100 overflow-y-hidden"
			     [ngClass]="$viewSettings_castSectionClass()">
				<app-cast-section-list [select_castSectionItem]="select_castSectionItem"
				                       (actionClose)="$select_castSectionItem.set(undefined);"></app-cast-section-list>
			</div>
		}
	</div>
} @else {
	<div>loading...</div>
}