@if ($isReady()) {
	<!--suppress JSVoidFunctionReturnValueUsed -->
	<div class="card h-100 m-0">
		<div class="card-header p-0 rounded-0">
			<div class="p-1">
				<strong>キャスト編集</strong>
			</div>
			<div class="bg-white">
				<ul class="nav-tabs rounded-0"
				    #nav="ngbNav"
				    [animation]="false"
				    ngbNav>
					@for (site_lang of siteInfo.$site_langList(); track $index; ) {
						@let lang = site_lang.lang;
						<li class="rounded-0"
						    ngbNavItem>
							<button class="btn-sm btn p-1 rounded-0"
							        ngbNavLink
							        style="width:5rem;"
							        [textContent]="site_lang.label"></button>
							<ng-template ngbNavContent>
								@let pageConfig = $pageConfig() || {};
								@let cast = $cast() || {};
								@let castDetailMap = $castDetailMap();
								@let castDetail = castDetailMap?.[lang] || util.set(castDetailMap, lang, {uid: cast.uid, lang});
								<div class="cast-table">
									<table class="table table-bordered table-sm w-auto m-0">
										<tbody>
											<tr>
												<th>
													<div class="d-flex flex-row gap-1">
														<span>公開状態</span>
														<span class="badge bg-secondary rounded-pill">共通</span>
													</div>
												</th>
												<td>
													<div class="row">
														<div>
															<button class="btn btn-sm "
															        [class.btn-success]="cast.viewFlag"
															        [class.border]="!cast.viewFlag"
															        (click)="cast.viewFlag=!cast.viewFlag"
															        [textContent]="cast.viewFlag ? '公開中' : '非公開'">
															</button>
														</div>
													</div>
												</td>
											</tr>
											<tr>
												<th>
													<span>登録日時</span>
												</th>
												<td>
													<div class="d-flex flex-row">
														<div class="input-group input-group-sm w-auto">
															<input class="form-control form-control-sm"
															       type="datetime-local"
															       [ngModel]="util.m(cast.regDatetime).format('YYYY-MM-DD HH:mm')"
															       (ngModelChange)="cast.regDatetime=util.m($event).toDate().getTime();"
															       style="width:10rem;"/>
														</div>
													</div>
												</td>
											</tr>
											<tr>
												<th>
													<span>名前</span>
												</th>
												<td>
													<div class="row">
														<div class="input-group input-group-sm w-auto">
															<input class="form-control form-control-sm flex-grow-0"
															       type="text"
															       [ngModel]="castDetail?.name"
															       (ngModelChange)="util.set(castDetail,'name',$event);"
															       style="width:30rem;">
														</div>
													</div>
												</td>
											</tr>
											<tr>
												<th>年齢</th>
												<td>
													<div class="row">
														<div class="input-group input-group-sm w-auto">
															<input class="form-control form-control-sm flex-grow-0"
															       type="text"
															       [ngModel]="castDetail?.age"
															       (ngModelChange)="util.set(castDetail,'age',$event);"
															       style="width:3rem;">
															<span class="input-group-text">歳</span>
														</div>
													</div>
												</td>
											</tr>
											<tr>
												<th>サイズ</th>
												<td>
													<div class="row g-1">
														<div class="input-group input-group-sm w-auto">
															<span class="input-group-text">身長</span>
															<input class="form-control form-control-sm flex-grow-0"
															       type="text"
															       [ngModel]="castDetail?.sizeT"
															       (ngModelChange)="util.set(castDetail,'sizeT',$event)"
															       style="width:3rem;">
															<span class="input-group-text">cm</span>
														</div>
														<div class="input-group input-group-sm w-auto">
															<span class="input-group-text">バスト</span>
															<input class="form-control form-control-sm flex-grow-0"
															       type="text"
															       [ngModel]="castDetail?.sizeB"
															       (ngModelChange)="util.set(castDetail,'sizeB',$event);"
															       style="width:3rem;">
															<span class="input-group-text">cm</span>
															<select class="form-control form-control-sm flex-grow-0"
															        [ngModel]="castDetail?.sizeC"
															        (ngModelChange)="util.set(castDetail,'sizeC',$event);"
															        style="width:3rem;">
																@for (value of "ABCDEFGHIJKLMNOPQRSTUVWXYZ".split(''); track $index; ) {
																	<option [ngValue]="value"
																	        [textContent]="value"></option>
																}
															</select>
															<span class="input-group-text">カップ</span>
														</div>
														<div class="input-group input-group-sm w-auto">
															<span class="input-group-text">ウエスト</span>
															<input class="form-control form-control-sm flex-grow-0"
															       type="text"
															       [ngModel]="castDetail?.sizeW"
															       (ngModelChange)="util.set(castDetail,'sizeW',$event);"
															       style="width:3rem;">
															<span class="input-group-text">cm</span>
														</div>
														<div class="input-group input-group-sm w-auto">
															<span class="input-group-text">ヒップ</span>
															<input class="form-control form-control-sm flex-grow-0"
															       type="text"
															       [ngModel]="castDetail?.sizeH"
															       (ngModelChange)="util.set(castDetail,'sizeH',$event);"
															       style="width:3rem;">
															<span class="input-group-text">cm</span>
														</div>
													</div>
												</td>
											</tr>
											<tr>
												<th>一行コメント</th>
												<td>
													<div class="row">
														<div class="input-group input-group-sm">
															<input class="form-control form-control-sm"
															       type="text"
															       [ngModel]="castDetail?.comment"
															       (ngModelChange)="util.set(castDetail,'comment',$event)"
															       style="width:3rem;">
														</div>
													</div>
												</td>
											</tr>
											<tr>
												<th>複数行コメント</th>
												<td>
													<div class="row">
														<div class="input-group input-group-sm">
														<textarea class="form-control form-control-sm"
														          [ngModel]="castDetail?.ownerComment"
														          (ngModelChange)="util.set(castDetail,'ownerComment',$event)"
														          rows="10"></textarea>
														</div>
													</div>
												</td>
											</tr>
											@if (pageConfig?.castIcon?.useFlag) {
												<tr>
													<th>
														<span>アイコン</span>
														<span class="badge mx-1 text-bg-secondary rounded-pill">共通</span>
													</th>
													<td>
														@for (castIconGroup of $castIconGroupList(); track $index) {
															<div class="row m-0 py-1">
																<span class="badge text-bg-dark w-auto"
																      [textContent]="castIconGroup.label"></span>
															</div>
															<div class="d-flex flex-row flex-wrap m-0 py-1 gap-1">
																@let castIconMap = this.$castIconMap() || {};
																@for (item of $castIconItemListMap()?.[castIconGroup.uid]; track $index; ) {
																	@let castIcon = castIconMap[item.uid] || {};
																	<button class="btn btn-sm"
																	        [class.btn-success]="!!castIcon.viewFlag"
																	        [class.btn-light]="!castIcon.viewFlag"
																	        (click)="castIconMap[item.uid]={itemUid:item.uid,sort:0,viewFlag:!castIcon.viewFlag}"
																	        [textContent]="item.label"></button>
																}
															</div>
														}
													</td>
												</tr>
											}
											@if (pageConfig?.castPlay?.useFlag) {
												<tr>
													<th>
														<div class="d-flex flex-row gap-1">
															<span>プレイ</span>
															<span class="badge text-bg-secondary rounded-pill">共通</span>
														</div>
													</th>
													<td>
														@for (castPlayGroup of $castPlayGroupList(); track $index) {
															<div class="row m-0 py-1">
																<span class="badge text-bg-dark w-auto"
																      [textContent]="castPlayGroup.label"></span>
															</div>
															<div class="row m-0 py-1">
																<div class="p-0">
																	@let castPlayItemList = $castPlayItemListMap()[castPlayGroup.uid] || [];
																	@for (castPlayItem of castPlayItemList; track $index) {
																		@let castPlay = $castPlayMap()?.[castPlayItem.uid];
																		@let inputList = $castPlayInputListMap()?.[castPlayGroup.uid] || [];
																		<div class="input-group input-group-sm w-100">
																			<span class="input-group-text"
																			      [textContent]="castPlayItem.label"></span>
																			<select class="form-select form-select-sm"
																			        [ngModel]="castPlay.inputUid"
																			        (ngModelChange)="input_castPlay(lang,castPlayItem,$event);">
																				@for (input of inputList; track $index; ) {
																					<option [ngValue]="input.uid"
																					        [textContent]="input.label"></option>
																				}
																			</select>
																		</div>
																	}
																</div>
															</div>
														}
													</td>
												</tr>
											}
											@if (pageConfig?.castPlay?.useFlag) {
												<tr>
													<th>
														<span>プロフィール</span>
													</th>
													<td>
														@for (castProfileGroup of $castProfileGroupList(); track $index) {
															<div>
																<div class="badge text-bg-dark"
																     [textContent]="castProfileGroup.label"></div>
															</div>
															<div class="d-flex flex-column gap-1 my-1">
																@let castProfileItemList = this.$castProfileItemList();
																@let castProfileMap = $castProfileMapMap()?.[lang] || {};
																@for (castProfileItem of castProfileItemList; track $index) {
																	@let castProfile = castProfileMap[castProfileItem.uid] || {};
																	<div class="input-group input-group-sm w-auto">
																		<span class="input-group-text"
																		      [textContent]="castProfileItem.label"
																		      style="width:min-content;">
																		</span>
																		<input class="form-control form-control-sm"
																		       type="text"
																		       [ngModel]="castProfile.value"
																		       (ngModelChange)="change_castProfile(lang,castProfileItem.uid,$event);"/>
																	</div>
																}
															</div>
														}
													</td>
												</tr>
											}
											<tr>
												<th>
													<div class="d-flex flex-row gap-1">
														<span>画像</span>
														<span class="badge text-bg-secondary rounded-pill">共通</span>
													</div>
												</th>
												<td>
													<div class="d-flex flex-column gap-1">
														@for (item of $castImageItemList(); track $index; ) {
															@let castImageList = $castImageListMap()?.[item.uid] || [];
															<div class="card ">
																<div class="card-header p-1">
																	<span [textContent]="item.label"></span>
																	<span>({{ item.width }}x{{ item.height }})</span>
																	<span class="mx-1">※ 最大{{ item.maxLimit }}枚</span>
																	<span class="mx-1 px-1 text-bg-secondary">{{ castImageList?.length }}/{{ item.maxLimit }}</span>
																	@if (item.maxLimit > castImageList?.length) {
																		<i class="fa fa-plus fa-hover cursor-pointer text-info mx-2"
																		   (click)="action_add_castImage(item);"></i>
																	}
																</div>
																<div class="card-body p-1">
																	<div>
																		<ul class="list-group"
																		    [id]="item.uid"
																		    cdkDropListLockAxis="y"
																		    cdkDropListOrientation="vertical"
																		    (cdkDropListEntered)="onEntered($event)"
																		    (cdkDropListDropped)="action_drop($event);"
																		    cdkDropList>
																			@for (image of castImageList; track $index) {
																				<li class="list-group-item"
																				    (cdkDragStarted)="onDragStarted($event)"
																				    cdkDrag>
																					<app-cast-image
																							[castUid]="cast.uid"
																							[itemKey]="item.uid"
																							[width]="item.width"
																							[height]="item.height"
																							[isHandle]="true"
																							(actionRemove)="util.remove(castImageList,image);"
																							(actionComplete)="image.imagePath=$event.path;image.imageKey=$event.key;image.imageSrc=$event.src;"
																					></app-cast-image>
																					<div>
																						@if (image?.imageSrc; as src; ) {
																							<a [href]="src"
																							   target="_blank">
																								<img [src]="src"/>
																							</a>
																						}
																					</div>
																				</li>
																			}
																		</ul>
																	</div>
																</div>
															</div>
														}
													</div>
												</td>
											</tr>
											<tr>
												<th>
													<div class="d-flex flex-row gap-1">
														<span>公開状態</span>
														<span class="badge text-bg-secondary rounded-pill">共通</span>
													</div>
												</th>
												<td>
													<div class="row">
														<div>
															<button class="btn btn-sm "
															        [class.btn-success]="cast.viewFlag"
															        [class.border]="!cast.viewFlag"
															        (click)="cast.viewFlag=!cast.viewFlag"
															        [textContent]="cast.viewFlag ? '公開中' : '非公開'">
															</button>
														</div>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</ng-template>
						</li>
					}
				</ul>
			</div>
		</div>
		<div class="card-body m-0 p-0 h-100 overflow-y-scroll ">
			<div class="card">
				<div class="card-header p-1">
					<span>編集</span>
				</div>
				<div class="card-body p-1">
					<div class="m-1">
						<button class="btn btn-sm btn-primary"
						        [class.disabled]="$state_save_isWait()"
						        [disabled]="$state_save_isWait()"
						        (click)="action_save();">
							保存
						</button>
					</div>
					<div [ngbNavOutlet]="nav"></div>
					<div class="m-1">
						<button class="btn btn-sm btn-primary"
						        [class.disabled]="$state_save_isWait()"
						        [disabled]="$state_save_isWait()"
						        (click)="action_save();">
							保存
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
} @else {
	<div>loading...</div>
}