@use "reset.css" as reset;
@use "bootstrap/dist/css/bootstrap.min.css" as bootstrap;
//@use "bootstrap/scss/bootstrap.scss";
@use "font-awesome/css/font-awesome.min.css" as font-awesome;
@use "ckeditor5/ckeditor5.css";
@use "@kolkov/angular-editor/themes/default.scss" as angular-editor;

:root {
	--ae-gap: 5px;
	--ae-text-area-border: 1px solid #ddd;
	--ae-text-area-border-radius: 0;
	--ae-focus-outline-color: #afaeae auto 1px;
	--ae-toolbar-padding: 1px;
	--ae-toolbar-bg-color: #b3dca0;
	--ae-toolbar-border-radius: 1px solid #ddd;
	--ae-button-bg-color: #dadad7;
	--ae-button-border: 3px solid #3fb74e;
	--ae-button-radius: 5px;
	--ae-button-hover-bg-color: #3fb74e;
	--ae-button-active-bg-color: red;
	--ae-button-active-hover-bg-color: blue;
	--ae-button-disabled-bg-color: gray;
	--ae-picker-label-color: rgb(78, 84, 155);
	--ae-picker-icon-bg-color: rgb(34, 41, 122);
	--ae-picker-option-bg-color: rgba(221, 221, 84, 0.76);
	--ae-picker-option-active-bg-color: rgba(237, 237, 62, 0.9);
	--ae-picker-option-focused-bg-color: rgb(255, 255, 0);
}

[class*="ck-powered-by"] {
	display: none !important;
}
//.modal { overflow-y: auto !important; }
.space-0 {
	margin: 0;
	padding: 0;
}

.card {
	//@extend .h-100;
	//.card-header {
	//	@extend .p-1;
	//	@extend .px-2;
	//}
	//.card-body {
	//	@extend .h-100;
	//	@extend .p-1;
	//}
}

.table-responsive {
	table {
		@extend .table;
		@extend .table-sm;
		@extend .table-hover;
		@extend .table-bordered;
	}
}

.cursor-pointer {
	cursor: pointer;
}

.cursor-move {
	cursor: move;
}

.fa.fa-hover:hover {
	transform: scale(1.5);
}

.message-box {
	position: fixed;
	pointer-events: none;
	width: -webkit-fill-available;
	z-index: 9999;
	text-align: center;
	margin: 0;
	padding: 0;
	line-height: 1.5;
}

.label-count {
	&:after {
		content: 'ä»¶';
	}
}

